.wrapper { max-width: none; }
div.post-content { display: flex; flex-wrap: wrap; }
section.results { box-sizing: border-box; width: 100%; padding-left: 15px; padding-right: 15px; }
section.code-compare { box-sizing: border-box; width: 50%; padding-left: 15px; padding-right: 15px; }
section.code-compare:last-child { padding-right: 0; }

section.con ul li, section.pro ul li { list-style: none; }
section.con ul li::before, section.pro ul li::before { padding-right: 1.1225em; position: relative; top: 0em; }
section.pro ul li::before { color: green;  content: "✔"; }
section.con ul li::before { color: red; content: "✘"; }


